<template name="tasks">
	

	{{#if insideProject}}
		{{>addTask}}
	{{/if}}

	{{#each task}}
		{{>tasklist}}
	{{else}}
		<h4>No Tasks!</h4>
	{{/each}}
	
	
</template>


<template name="tasklist">
	<div class="well well-sm">
		<div style="float:right">
		<i class="fa fa-check-circle-o" style="color:green" title="Mark as done"></i>
		<!-- <i class="fa fa-archive" style="color:green" title="Archive task"></i> -->
		</div>
		
		
		<h4><i class="fa fa-tasks"></i>&nbsp;{{todo}}<h4>
		
		
		{{#if comments}}
		<div>
			<hr>
		{{#each comments}}
			{{>comment}}
		{{/each}}
		</div>
		{{/if}}
	<div class="form-group">
	<input type="text" class="form-control" id="{{_id}}" placeholder="Post update on this task" />
	</div>

	</div>
</template>

<template name="comment">
	<h6><i class="fa fa-comment"></i> : <b>{{comment}}</b> | <abbr class="timeago" title="{{comment_time}}">{{comment_time}}</abbr></h6>
</template>